<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Data Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card mode="ios" class="card-input">
    <ion-card-content>
      <ion-item>
        <ion-input label="Nama Lengkap" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="NIM" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select label="Jurusan" label-placement="stacked">
          <ion-select-option *ngFor="let major of majors" [value]="major.id"
            >{{ major.text }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button mode="ios" expand="block">Simpan</ion-button>
</ion-content>
