.header-section {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(#3759ce, #203c9f);

  .greetings {
    color: white;
    small {
      font-size: 11px;
    }
    h5 {
      margin: 0;
      font-size: 17px;
      font-weight: 600;
    }
  }

  img {
    height: 50px;
  }
}

ion-content {
  --background: #f0f0f0 !important;
  .title-list {
    margin-top: 0px;
  }
}

.card-list {
  margin: 10px 0;
  box-shadow: none;

  ion-card-content {
    padding: 0;

    ion-item {
      .item-section {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;

        .data-section {
          margin-left: 15px;
          p {
            margin: 0;
            font-size: 15px;
            font-weight: 600;
          }

          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

ion-skeleton-text {
  --border-radius: 9999px;
}
