<ion-content class="ion-padding" [fullscreen]="true">
  <div class="heading-section">
    <img src="assets/images/logo-lp3i.png" />
    <h5>Input Data Registrasi</h5>
  </div>

  <ion-card mode="ios">
    <ion-card-content>
      <ion-item>
        <ion-input
          [(ngModel)]="fullname"
          label="Nama Lengkap"
          labelPlacement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="username"
          label="Username"
          labelPlacement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="password"
          label="Password"
          [type]="showPassword == true ? 'text' : 'password' "
          labelPlacement="stacked"
        ></ion-input>
        <ion-icon
          (click)="showPassword = !showPassword"
          slot="end"
          [name]="showPassword == true ? 'eye-off-outline' : 'eye-outline' "
        ></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="confirmPassword"
          label="Konfirmasi Password"
          [type]="showConfirm == true ? 'text' : 'password' "
          labelPlacement="stacked"
        ></ion-input>
        <ion-icon
          (click)="showConfirm = !showConfirm"
          slot="end"
          [name]="showConfirm == true ? 'eye-off-outline' : 'eye-outline' "
        ></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button
    (click)="onRegister()"
    [disabled]="formLoading == true"
    class="ion-margin-top ion-margin-bottom"
    mode="ios"
    expand="block"
    >Daftar

    <ion-spinner *ngIf="formLoading == true" name="crescent"></ion-spinner>
  </ion-button>

  <div class="redirect">
    <span>Sudah Punya Akun ?</span>
    <a routerLink="/login">Login Disini</a>
  </div>
</ion-content>
